<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Silence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment (ionChange)="segmentChanged($event)">

    <ion-segment-button value="control">
      <ion-icon name="speedometer" class="ion-30"></ion-icon>
      <ion-label>Control</ion-label>
    </ion-segment-button>

    <ion-segment-button value="historial">
      <ion-icon name="calendar" class="ion-30"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-segment-button>

  </ion-segment>

    <ion-list *ngIf="section === 'control'">
      <ion-item>
        <ion-label>Apagar / Encender</ion-label>
        <ion-toggle slot="end" [checked]="powerValue === 1" (ionChange)="powerDevice()" color="primary"></ion-toggle>
      </ion-item>
  
      <ion-item>
        <ion-label>Estado del Dispositivo:</ion-label>
        <p>{{ powerText }}</p>
      </ion-item>
  
      <ion-item>
        <ion-range (ionChange)="rangeUmbralValue($event)" [ticks]="true" [snaps]="true" [min]="2900" [max]="3500"
          [step]="30" color="primary" value="{{ umbralAnalog }}"></ion-range>
        <ion-icon slot="start" name="mic"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label>Umbral Analogo: </ion-label>
        <p>{{ umbralAnalog }}</p>
      </ion-item>
  
      <ion-item>
        <ion-label>Umbral en Decibelios: </ion-label>
        <p>{{ umbraldB }} dB</p>
      </ion-item>
  
    </ion-list>
  
    <ion-list *ngIf="section === 'historial'">
  
      <ion-list-header>Seleccionar fecha para filtrar</ion-list-header>
  
      <ion-item>
        <ion-datetime size="cover" presentation="date" [max]="currentDate()" (ionChange)="selectedDate($event)"></ion-datetime>
      </ion-item>
  
  
      <ion-item>
        <h4>Historial: {{ recordText }}</h4>
      </ion-item>
  
      <ion-list class="list-card">
        <ion-card *ngFor="let records of recordsRegistered" class="ion-padding">
          <span>
            <strong>Nivel analogo del sonido: </strong> {{ records.level }}
            <p>
              <strong>Nivel en decibelios: </strong> {{ records.dB }} dB
            </p>
            <p>
              <strong>Fecha: </strong> {{ records.date | date: 'medium'}}
            </p>
          </span>
        </ion-card>
      </ion-list>
  
      <ion-item>
        <h4>ESTADISTICAS BÁSICAS</h4>
      </ion-item>
  
      <ion-list>
        <ion-list-header class="titles">Valores Máximos</ion-list-header>
        <ion-item>
          <ion-label>Valor Máximo Analogico:</ion-label>
          <p>{{ statistics.maxAnalog }}</p>
        </ion-item>
  
        <ion-item>
          <ion-label>Valor Máximo Decibelios:</ion-label>
          <p>{{ statistics.maxdB }} dB</p>
        </ion-item>
  
        <ion-list-header class="titles">Valores Minimos</ion-list-header>
        <ion-item>
          <ion-label>Valor Minimo Analogico:</ion-label>
          <p>{{ statistics.minAnalog }}</p>
        </ion-item>
  
        <ion-item>
          <ion-label>Valor Minimo Decibelios:</ion-label>
          <p>{{ statistics.mindB }} dB</p>
        </ion-item>
  
        <ion-list-header class="titles">Valores del Rango</ion-list-header>
        <ion-item>
          <ion-label>Valor Rango Analogico:</ion-label>
          <p>{{ statistics.rangeAnalog }}</p>
        </ion-item>
  
        <ion-item>
          <ion-label>Valor Rango Decibelios:</ion-label>
          <p>{{ statistics.rangedB }} dB</p>
        </ion-item>
  
        <ion-list-header class="titles">Valores de la Media</ion-list-header>
        <ion-item>
          <ion-label>Valor Media Analogica:</ion-label>
          <p>{{ statistics.meanAnalog }}</p>
        </ion-item>
  
        <ion-item>
          <ion-label>Valor Media Decibelios:</ion-label>
          <p>{{ statistics.meandB }} dB</p>
        </ion-item>
  
      </ion-list>
  
    </ion-list>

</ion-content>