<ion-header>
  <ion-toolbar>
    <div class="containerLogo">
      <ion-title class="ion-margin-vertical" color="primary">
        Silence
      </ion-title>
      <img slot="start" class="logo ion-margin" alt="Silhouette of mountains" src="../../assets/logoSilence.svg" />
    </div>
    <ion-segment (ionChange)="segmentChanged($event)">

      <ion-segment-button value="control">
        <ion-icon name="power" class="ion-30"></ion-icon>
        <ion-label>Control</ion-label>
      </ion-segment-button>

      <ion-segment-button value="historial">
        <ion-icon name="calendar" class="ion-30"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-list *ngIf="section === 'control'">
    <ion-item>
      <ion-label>Apagar / Encender</ion-label>
      <ion-toggle slot="end" [checked]="powerValue === 1" (ionChange)="powerDevice()" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Estado del Dispositivo:</ion-label>
      <p>{{ powerText }}</p>
    </ion-item>

    <ion-radio-group (ionChange)="selectedAudio($event)">

      <ion-list-header>Selecciona un audio</ion-list-header>
      <ion-item>
        <ion-label>Mujer</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hombre</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

  <ion-list *ngIf="section === 'historial'">

    <ion-list-header>Seleccionar fecha para filtrar</ion-list-header>

    <ion-item>
      <ion-datetime size="cover" presentation="date" [max]="currentDate()"
        (ionChange)="selectedDate($event)"></ion-datetime>
    </ion-item>


    <ion-item>
      <h4>Historial: {{ recordText }}</h4>
    </ion-item>

    <ion-list class="list-card">

      <ion-card *ngFor="let records of recordsRegistered; let count = index" class="ion-padding ion-text-center">

        <p>
          <strong>Activación N°</strong> {{ count + 1 }}
        </p>
        <p>
          <strong>Fecha: </strong> {{ records.date | date: 'medium'}}
        </p>

      </ion-card>

    </ion-list>

  </ion-list>

</ion-content>