ion-title {
    font-size: 22px;
    font-weight: bold;
}

span {
    font-weight: 400;
    font-size: 16px;
}

ion-list-header, h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 5 5 0;
    color: #3880ff;
}

.list-card {
    height: 400px;
    overflow-y: scroll;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.containerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}